<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="All Test Suite">
    <listeners>
        <listener class-name="com.lemon.listener.AllureReportListener"></listener>
        <listener class-name="com.lemon.listener.GlobalTestngRetry"></listener>
    </listeners>
<test name="测试">
<parameter name="browserName" value="chrome"></parameter>
<classes>
    <class name="com.lemon.testcase.frontend.LoginTest"/>
    <class name="com.lemon.testcase.frontend.InvestTest"/>
</classes>
</test>

</suite>